name: JibbsPackage CI/CD

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - ".gitignore"

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  publish:
    uses: ./.github/workflows/publish.yaml
    needs: test
    secrets: inherit