name: Run Code Linting and Testing

on: workflow_call

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python Version
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Package Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]

      - name: Lint
        run: python -m ruff check .

      - name: Test
        run: python -m pytest -v